body {
  background-color: #606c38;
}

.header {
  display: flex;
  font-family: "BPG Nino Mtavruli", sans-serif;
  position: sticky;
  top: 0;
  /* justify-content: center;
  align-items: center; */
}

.header div {
  width: 100%;
  height: 100px;
  background-color: #e9f5db;
}

.h1 {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.nav a {
  text-decoration: none;
}

a:hover {
  font-weight: 600;
}

.icon {
  display: flex;
  align-items: center;
  gap: 7px;
  justify-content: center;
  /* padding-right: 70px; */
}

.header div h1 {
  color: #000000;
  font-size: 27px;
}

.header div a {
  color: #000000;
  font-size: 17px;
  gap: 5px;
}

.sec1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100% !important;
  height: 750px;
}

.img1 {
  background-image: url(../images/pexels-photo-338936.jpeg);
  background-size: cover;
  width: 96%;
  height: 585px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  font-size: 40px;
  color: #ffffff;
  font-family: "BPG Nateli", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 360px;
  /* margin-left: 20px; */
}

.view {
  display: flex;
  justify-content: center;
  width: 2871px;
  /* margin-right: 18px; */
}

.viewall {
  font-family: "BPG Nino Mtavruli", sans-serif;
  size: 80px;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  width: 105px;
  height: 35px;
  background-color: #4b542c;
}

.sec2 {
  display: flex;
  flex-direction: column;
  /* gap: 30px; */
  justify-content: center;
  font-family: "BPG Nateli", sans-serif;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
}

h4 {
  color: #ffffff;
  margin-top: 12px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.card1 div h1 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 30px;
  width: 231px;
}

.card1 div p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  line-height: 21px;
  width: 325px;
}

button {
  width: 90px;
  height: 25px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #384d20;
}

button:hover {
  background-color: #253710;
}

.card1 div {
  display: flex;
  flex-direction: column;
  background-color: #404725;
  width: 350px;
  height: 310px;
  align-items: center;
}

.card1 {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.card2 div h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 30px;
  width: 338px;
}

.card2 div p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  width: 342px;
  line-height: 21px;
}

.card2 div {
  display: flex;
  flex-direction: column;
  background-color: #404725;
  width: 350px;
  height: 310px;
  align-items: center;
}

.card2 {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.card3 div h1 {
  font-size: 25px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 30px;
}

.card3 div p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  width: 307px;
  line-height: 21px;
}

.card3 div {
  display: flex;
  flex-direction: column;
  background-color: #404725;
  width: 350px;
  height: 310px;
  align-items: center;
}

.card3 {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.card4 div h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  line-height: 30px;
}

.card4 div p {
  font-size: 15px;
  color: #ffffff;
  font-weight: 400;
  width: 297px;
  line-height: 21px;
}

.card4 div {
  display: flex;
  flex-direction: column;
  background-color: #404725;
  width: 350px;
  height: 310px;
  align-items: center;
}

.card4 {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 850px;
}

.img2 {
  background-image: url(../images/../images/pxclimateaction-7129875_1280.jpg);
  background-size: cover;
  width: 96%;
  height: 650px;
  background-repeat: no-repeat;
  color: #ffffff;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec4 {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.sec4 h1 {
  font-size: 40px;
  color: #ffffff;
  font-family: "BPG Nateli", sans-serif;
  margin-bottom: 20px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 580px;
  margin-bottom: 40px;
}

.oriverow {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.row {
  display: flex;
  gap: 120px;
  display: flex;
}

.row p {
  color: #ffffff;
  width: 307px;
  margin-top: 15px;
}

.row a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}

.org,
.org2,
.org3 {
  width: 400px;
  height: 267px;
  background-color: #ffffff;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.org img {
  height: 255px;
}

.org2 img {
  height: 200px;
  width: 390px;
}

.org3 img {
  height: 200px;
  width: 170px;
}

.footer {
  font-family: "BPG Nino Mtavruli", sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 200px;
  background-color: #d4ddc9;
  gap: 40px;
}

.footer div h1 {
  color: #000000;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 10px;
}

.footer div p {
  color: #000000;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 6px;
}

.footercontact {
  display: flex;
  gap: 10px;
  width: 50px;
  height: 88px;
  margin-top: 12px;
}

/* ............................... ეკოპრობლემები */

.nav2 {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.nav2 a {
  text-decoration: none;
}

h3 {
  font-size: 40px;
  font-weight: 700;
  font-family: "BPG Nateli", sans-serif;
  color: #ffffff;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

h5,
h6 {
  font-size: 30px;
  color: #ffffff;
  font-weight: 200;
  width: 780px;
  margin-bottom: 20px;
  display: flex;
}

h6 {
  width: 517px;
}

.seccard1,
.seccard2 {
  display: flex;
  gap: 40px;
  padding-top: 25px;
  justify-content: center;
  margin-bottom: 70px;
}

.seccard2 {
  margin-bottom: 90px;
}

.seccard1 div p,
.seccard2 div p {
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  width: 785px;
  margin-bottom: 7px;
}

.secbutton2 {
  width: 90px;
  height: 25px;
  margin-top: 10px;
  color: #ffffff;
  background-color: #49522a;
}

.secsec3 {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 70px;
  margin-bottom: 80px;
}

.seccard3 h1,
.seccard4 h1,
.seccard5 h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
}

.seccard3 p,
.seccard4 p,
.seccard5 p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  width: 365px;
  line-height: 18px;
}

.seccard5 h1 {
  width: 370px;
}

.secsec4 {
  display: flex;
  justify-content: center;
  gap: 90px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.seccard6 h1,
.seccard7 h1,
.seccard8 h1 {
  font-size: 24px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 15px;
  margin-top: 20px;
}

.seccard6 p,
.seccard7 p,
.seccard8 p {
  font-size: 14px;
  color: #ffffff;
  font-weight: 400;
  width: 365px;
  line-height: 18px;
}

.seccard3 img,
.seccard4 img,
.seccard5 img,
.seccard6 img,
.seccard7 img,
.seccard8 img {
  border-radius: 10%;
}

.seccard9 {
  display: flex;
  gap: 40px;
  padding-top: 25px;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}

.seccard9 div li {
  color: #ffffff;
  font-size: 17px;
  line-height: 23px;
  width: 632px;
  margin-bottom: 7px;
}

/* ................................... სიახლეები  */

.nav3 {
  display: flex;
  align-items: center;
  gap: 9px;
  flex-wrap: wrap;
}

.nav3 a {
  text-decoration: none;
}

/* .................................. ჩვენს შესახებ */

.nav4 {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.nav4 a {
  text-decoration: none;
}

.aboutus {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.aboutus h1 {
  font-size: 30px;
  color: #ffffff;
  font-family: "BPG Nateli", sans-serif;
  margin-top: 50px;
  margin-bottom: 20px;
  font-weight: 600;
  width: 1300px;
}

.aboutus p {
  font-size: 20px;
  color: #ffffff;
  font-family: "BPG Nateli", sans-serif;
  font-weight: 300;
  width: 1300px;
  line-height: 24px;
}

.photos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 60px;
  gap: 45px;
  margin-bottom: 70px;
}

.photos div {
  display: flex;
  gap: 90px;
}

.photos div img {
  border-radius: 20px;
}

/* ..................................... კონტაქტი */

.nav5 {
  display: flex;
  align-items: center;
  gap: 7px;
  flex-wrap: wrap;
}

.nav5 a {
  text-decoration: none;
}

.smallcard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  margin-bottom: 150px;
}

.contact {
  color: #ffffff;
  font-size: 50px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 60px;
  width: 1330px;
  font-family: "BPG Nateli", sans-serif;
}

.orivecardi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 250px;
}

.phone,
.social {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 150px;
  align-items: center;
}

.phone div,
.social div {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #384d20;
  display: flex;
  justify-content: center;
  align-items: center;
}

.phone div i {
  font-size: 30px;
}

.social div i {
  font-size: 40px;
}

.phone h1,
.social h1 {
  color: #ffffff;
  font-size: 20px;
}

.phone p,
.social p {
  color: #ffffff;
  font-size: 18px;
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 70px;
  margin-bottom: 100px;
}

.info form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-bottom: 20px;
}

textarea {
  width: 755px;
  height: 296px;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 20px;
  resize: none;
  background-color: #d4d3d3;
}

.name {
  width: 500px;
  height: 59px;
  background-color: #d4d3d3;
  margin-bottom: 20px;
  padding-left: 15px;
}

.tele {
  width: 500px;
  height: 59px;
  background-color: #d4d3d3;
  margin-bottom: 20px;
  padding-left: 15px;
}

.email {
  width: 500px;
  height: 59px;
  background-color: #d4d3d3;
  margin-bottom: 20px;
  padding-left: 15px;
}

.send {
  width: 500px;
  height: 59px;
  background-color: #5968f4;
  color: #ffffff;
  cursor: pointer;
}
